
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 50px;
  }
  h1 {
    text-align: justify;
    color:darkcyan
}
h2 {
    color: royalblue
}

p {
    text-align: inherit;
}
.video {
    padding-right: 15px
}